html {
  font-size: calc( 20px + (25 - 20) * ( (100vw - 991px) / 991 ) );
  font-family: 'EB Garamond', serif;
}

body {
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 3vw 0 1.5vw 0;
}

header {
  font-size: 1.5em;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  padding:  1vh;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

 a:hover {
  text-decoration: underline;
}

.title {
  font-size: 2.5em;
padding-top: 50px;
text-align: center;
margin: 0;
}

.subtitle {
  font-size:  0.8em;
  text-align: center;
  margin: 0;
  padding-bottom: 5vw;
}

.main-text p {
  margin: 1vw;
}

.content {
  padding: 5vw 5%;
}


@media (min-width: 576px) {
  .content {
    padding: 5vw 5%;
  }
}


@media (min-width: 768px) {
.content {
  padding: 5vw 15%;
}
}

@media (min-width: 992px) {
  html {
    font-size: 25px;
  }
  .content {
    padding: 5vw 18%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
